@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap');
.Preview{
    width: 90%;
    height: 500px;
    background: rgba(36, 36, 36, 0.884);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -webkit-scroll-behavior: smooth;
    -webkit-scrollbar-width: none;
    border-radius: 15px;
}
.PreviewContainer{
    padding: 1rem;
}
.Preview i{
    position: fixed;
    right: 10px;
    top: 5px;
}
.Preview h2{
    font-family: "Oregano", cursive;
    font-weight: 400;
    font-style: normal;

}
.BookItem span{
    font-weight: 900;
    text-transform: uppercase;

}

.BookItemBTN{
    display: flex;
    gap: 20px;
}
.BookItemBTN button {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,rgb(219, 180, 80) 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 38px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
  background-position: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
   white-space: nowrap;
  font-family: "Poppins", sans-serif;
}


@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

.BookItemBTN button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}


.BookItemBTN button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}


.BookItemBTN button:active {
  /* box-shadow: #D6D6E7 0 3px 7px inset; */
  transform: translateY(2px);
}


