@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
.BookmarkContainer{
    width: 100%;
    height: fit-content;
}

.BookmartText{
  font-family: "MedievalSharp", cursive;
  font-weight: 200;
  font-style: normal;
  font-style: italic;
  text-transform: uppercase;
}
.BookmarkContent{
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.BookmarkItem{
    width: fit-content;
    position: relative;
    height: fit-content;
}
.BookmarkItem img {
    width: 150px;

}
.ICons{
    color: rgb(219, 180, 80);
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: none;
    gap: 30px;
    transform: translate(-50%)
}
.ICons i{
    cursor: pointer;
}


.BookmarkItem:hover .ICons{
    display: flex;
}
.BookExpiration{
  font-size: .7rem;
  position: absolute;
  bottom: -22px;
}
.DateXExpire{
  font-size: .7rem;
  line-height: .5;
}
